   <%= form_for(@survey) do |s| %>
   <div>
    <%= s.label 'How happy you would say you are at work?' %><br>
    <%= s.number_field :happiness_level %><br>
   </div>
<div>
    <%= s.label 'Do you feel that you are able to live a healthy lifestyle while at work?' %><br>
    <%= s.number_field :health_level %><br>
   </div>
<div>
    <%= s.label 'Would you consider yourself friends with your co workers?' %><br>
    <%= s.number_field :friend_level %><br>
   </div>
<div>
    <%= s.label 'Are you challenged by the work you do for your company?' %><br>
    <%= s.number_field :difficulty_level %><br>
   </div>
    <%= s.submit "submit survey" %>
    <% end %>
