<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
    <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
  </head>
  <body>


    <div class="container">
      <h2>Update Page</h2>
      <%= form_for(@user) do |f| %>
        <div>
          <%= f.text_field :name, :placeholder => "name" %>
        </div>
        <div>
          <%= f.email_field :email, :placeholder => "email" %>
        </div>
        <div>
          <%= f.password_field :password, :placeholder => "password" %>
        </div>
        <div>
          <% options = options_from_collection_for_select(@companies, 'id', 'name') %>
          <%= f.select :company_id,  options %>
        </div>
        <%= f.submit "Update", class: "btn-submit" %>
      <% end %>
    </div>
