<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
		<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
	</head>

	<div class="container">
	  <h2>Register Page</h2>
<%#	  <button type="button" class="btn">Basic</button>
	  <button type="button" class="btn btn-default">Default</button>
	  <button type="button" class="btn btn-primary">Primary</button>
	  <button type="button" class="btn btn-success">Success</button>
	  <button type="button" class="btn btn-info">Info</button>
	  <button type="button" class="btn btn-warning">Warning</button>
	  <button type="button" class="btn btn-danger">Danger</button>
	  <button type="button" class="btn btn-link">Link</button>      %>

    <%= form_tag("/register", method: "post") do %>
      <div>
        <%= label_tag(:q, "Email:") %>
        <%= email_field_tag(:q) %>
      </div>
      <div>
        <%= label_tag(:t, "Name:") %>
        <%= text_field_tag(:t) %>
      </div>
      <div>
        <%= label_tag(:u, "Company:") %>
        <%= text_field_tag(:u) %>
      </div>
      <div>
        <%= label_tag(:v, "Password:") %>
        <%= password_field_tag(:v) %>
      </div>
      <div>
        <%= label_tag(:w, "Password Confirmation:") %>
        <%= password_field_tag(:w) %>
      </div>
      <%= submit_tag("Register") %>
    <% end %>

    <%#= form_for(@users) do |f| %>
    <%#= f.label :name %>
    <%#= f.text_field :name %>
    <%# end %>

    <%#= form_tag do %>
 <!--       Form contents -->
    <%# end %>
	</div>
</html>
